{% extends "custom_base.html" %}

{% block page_content %}

<div class="container">
	
	<div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            	
    <div class="header vert about">
    
    <h2 class="post_h3" style="margin-top: 50px;">What is Ziliot?</h2>
    <p> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <strong>Ziliot</strong> is an online recruitment portal, which is match-making companies, and people in need of work. Our vision is to become a free platform to find jobs and recruit candidates.. We make it easier for companies to find applicants for their needs.
    </p>
    <p> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

      <strong>Why?</strong> We believe that there should be a better way to find and hire a candidates. We want to make it easy to find them and also to hire them .
    </p>
    <p> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

      <strong>How?</strong> Applicant creates a CV, which only has the most necessary information for recruiters. Applicants use one-click ”Apply Now” system, to numerous open positions. We want to make it easy for them to be tested as well on through or platform or for an employer to create a test here and they apply with samples of their codes or answers to the software test.
    </p>
      <!---<a href="#" class="btn btn-default btn-lg">+358 040 128 9606</a>-->
   <p> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

   	 <strong>Want to join us?</strong> At the moment we are looking for volunteers who will help us in translations to local languages. Get in touch with us if you want to help.</p> 
</div>
				            
            </div>

            <div class="col-xs-2">
           </div>


            
    </div>
    </div>


{% endblock %}