{% extends "custom_base.html" %}

{% block page_content %}

<div class="container">
	
	<div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <h2 class="post_h3"> Post jobs or vacancy</h2>

                <form action="{{ url_for('company.create_job') }}" method=post>
                {{form.hidden_tag()}}

            <div class="div_input2">
            {% with flashMessage = get_flashed_messages() %}
            {% if flashMessage %}
                <div class="alert alert-info" role="alert">>{{flashMessage[0]}}</div>
            {% endif %}
            {% endwith %}

            {% for mess in form.title.errors %}
                 <div class="alert alert-danger" role="alert">{{mess}}</div>
            {% endfor %}

             {% for mess in form.location.errors %}
                <div class="alert alert-danger" role="alert">{{mess}}</div>
            {% endfor %}

            {% for mess in form.company_name.errors %}
                <div class="alert alert-danger" role="alert">{{mess}}</div>
            {% endfor %}

             {% for mess in form.description.errors %}
                <div class="alert alert-danger" role="alert">{{mess}}</div>
            {% endfor %}

                {% for mess in form.link.errors %}
                <div class="alert alert-danger" role="alert">{{mess}}</div>
            {% endfor %}

                 {% for mess in form.expire_day.errors %}
                <div class="alert alert-danger" role="alert">{{mess}}</div>
            {% endfor %}

            <h4>Company Name:</h4 >
            <input type="text" id="job_input2" name="company_name" />

            <h4>Job Title:</h4>
            <input type="text" id="job_input2" name="title" />

            <h4>Location:</h4>
            <input type="text" id="job_input2" name="location"/>

            <h4>Link (enter the link to your job page):</h4>
            <input type="text" id="job_input2" name="link" />

            <h4>Description( briefly about job):</h4>
            <textarea id="job_input2" name="description" style="height: 130px;" ></textarea>

            <h4>Expire Day (MM/DD/YYYY):</h4>
            <input type="date" id="job_input2" name="expire_day" />
             <br/>
                <button type="submit" class="btn btn-default">Create Job</button>
            </div>

        </form>
            </div>
            <div class="col-xs-2">
           </div>


            
    </div>
    </div>


{% endblock %}